@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

body {
    padding-left:15%;
    padding-right:15%;
}
div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
div.card {
    border: 0px solid;
    border-radius: 0,0,5,5;
}

div.col {
    padding-top:10px;
    padding-bottom: 20px;
    border-radius: 0,0,5,5;
    border: 0px solid;
    background-color: black;
}

img.card-img-top, img.card-img-bot {
        height: auto;
        max-width: 100%;
}
img.card-img-bot {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
}
p.card {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}
small {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #A3A3A3;
}
h5 {
    font-family: Source Sans Pro;
    font-weight: 400;
    color:black;
    font-size: 28px;
    line-height: 21px;
}
a {
    color: #EC0029;
    line-height: 21px;
    font-weight: bold;
}
